body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
}

.subcontainer_calculate {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.error {
    color: red;
    display: none;
}

button {
    background-color: pink;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: #ff69b4;
}